html {
    margin: -8px;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    font-family: segoe ui, helvetica neue, helvetica, arial, sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 40px auto 30px;
}

#wrap {
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}

#inner {
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* IMPORTANT CSS RULES FOR A CORRECT DESKTOP USAGE */
body:not(.lc_mousedrag_is_mobile) #inner {
    overflow: hidden;
    cursor: grab;
}

body:not(.lc_mousedrag_is_mobile) #inner:active {
    cursor: grabbing;
}

body:not(.lc_mousedrag_is_mobile) #inner a {
    overflow: hidden;
    cursor: pointer;
}


.keypoint-1 {
    position: absolute;
    border-radius: 50%;
    top: 289px;
    left: 767px;
    border: 4px solid #dfd9cc;
    background-color: #ffb300;
}

.keypoint-2 {

    position: absolute;
    border-radius: 50%;
    top: 528px;
    left: 663px;
    border: 4px solid #dfd9cc;
    background-color: #ffb300;
}

.keypoint-3 {
    position: absolute;
    border-radius: 50%;
    top: 684px;
    left: 1305px;
    border: 4px solid #dfd9cc;
    background-color: #ffb300;
}

.icon {
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.icon a {
    display: block;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon a {
    line-height: 60px;
    font-size: 25px;
}

.icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: rgb(0, 0, 0);
    padding: 20px 47px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
}

.icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover a {
    color: #fff;
}



.icon:hover a,
.icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.icon:hover a,
.icon:hover .tooltip,
.icon:hover .tooltip:before {
    /* background: #87b06a; */
    background: #fff;

}

.keypoint-1 a {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: inherit;
    border-radius: inherit;
    animation: pulseAnimation 2s ease-out infinite;
}

@keyframes pulseAnimation {
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

.keypoint-2 a {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: inherit;
    border-radius: inherit;
    animation: pulseAnimation 2s ease-out infinite;
}

@keyframes pulseAnimation {
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

.keypoint-3 a {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #ffbc86;
    border-radius: inherit;
    animation: pulseAnimation 2s ease-out infinite;

}

@keyframes pulseAnimation {
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

.loader {
    position: absolute;
    background-color: 0%;
    width: 100%;
    height: 100vh;
    z-index: 99;
    left: -100%;
    -webkit-transition: .5s;
    transition: .5s;

}

.loader img {
    position: absolute;
    left: 37%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.room__contact {
    display: block;
    position: absolute;
    top: 20px;
    left: calc(50% - 45px);
    width: 70px;
}

.u-box-1by1 {
    position: relative;
}

.u-bg-white {
    background-color: #fff;
}

.u-shadow {
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 15px rgba(0, 0, 0, .25);
}

.u-round {
    border-radius: 50%;
}

.u-cursor-pointer {
    cursor: pointer;
}

.blur.active {
    filter: brightness(40%);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 672px;
    left: 1240px;
    width: 335px;
    height: 413px;
    padding: 15px;
    transform: translate(-50%, -50%);
    background: #fff;
    opacity: 1;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    box-shadow: rgb(0, 0, 0, .30);
    font-weight: 75 bold;
    font-size: 16px;
    z-index: 2;
    word-spacing: 28;
}

#popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;

}

.button {
    position: absolute;
    top: 74%;
    right: 25px;
    transform: translateY(-50%);
    border: none;
    width: 140px;
    height: 39px;
    font-size: medium;
    background-color: #FF7900;
    letter-spacing: -0.1px;
}

.button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.test1 {
    margin-top: -10%;
    margin-left: -9%;
}

.test2 {
    width: 100%;
}

.test3 {
    margin-top: -15%;
    margin-left: -30%;
}

.keypoint-audio img {
    position: absolute;
    top: 90%;
    left: 16%;
    z-index: 1;
}

.keypoint-audio:hover {
    cursor: pointer;
}

.key {
    position: absolute;
    border-radius: 50%;
    top: 89%;
    left: 11%;
    height: 54px;
    width: 55px;
    border: 9px solid #fff;
    z-index: 2;

    /* background-color: #ffb300; */

}

.key:hover {
    cursor: pointer;
    animation: puulseAnimation 2s ease-out infinite;

}

@keyframes puulseAnimation {
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

/* .point-calendar img:hover {
    cursor: pointer;
    background-color: #ffbc86;
    border-radius: 50%;
    animation: pulseAnimation 2s ease-out infinite;
} */

.keypoint-calendar img {
    position: absolute;
    top: 89%;
    left: 11%;
    z-index: 1;


}

.keypoint-calendar img:hover {
    cursor: pointer;

}

.hidden {
    display: none;
}

.h1 {
    font-weight: 70 bold;
    font-size: 15px;
    word-spacing: -28;

}

.p {
    font-size: 13px;
    color: #000000;
    word-spacing: -11;
}

.keypoint-home img {
    position: absolute;
    top: 89%;
    left: 6%;
    z-index: 1;
}

.keypoint-home>img:hover {
    cursor: pointer;
}

.keypoint-chat img {
    position: fixed;
    top: 70%;
    left: 51%;
    z-index: 1;

}

.keypoint-chat>img:hover {
    cursor: pointer;
}

.modal {
    background: white;
    width: 300px;
    height: 450px;
    border-radius: 0px;
    padding: 0px;
    z-index: 100;

    /* animation-name: animatetop;
    animation-duration: 0.3s; */
}

.modalanimation {
    transition: opacity 0.3s, visibility 0.5s transform 0.5s;
    transform: scale(1);

}

/* @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  } */

.modalheader {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    background-color: #000000;
}

.modalbody {
    padding-top: 0px;

}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.7s;
}
.animate-top {
    position: relative;
    animation: animatetop 0.7s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}


@keyframes animatetop {
    from {
        bottom: 0;
        opacity: 1;
    }

    to {
        bottom: -300px;
        opacity: 0;
        
    }
}


.overlay {
    position: absolute;
    top: 23%;
    left: 30%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center;


}